language: elixir
services:
  - docker
elixir: 1.7
otp_release: 21.2
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-client
env:
  global:
    - MYSQL_UNIX_PORT=/var/run/mysqld/mysqld.sock
  matrix:
    - DB=mysql:5.7 FORCE_TLS11=true
    - DB=mysql:8.0
matrix:
  include:
    - elixir: 1.4
      otp_release: 18.3
    - elixir: 1.5
      otp_release: 19.3
    - env: CHECKS_ONLY=true
script:
  - ./ci.sh
