name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        db:
          - mysql:5.6
          - mysql:5.7
          - mysql:8.0
          - mariadb:10.3
        pair:
          - elixir: 1.11.3
            erlang: 23.2.5"
        include:
          - db: mysql:8.0
            pair:
              elixir: 1.6.6
              erlang: 19.3.6.13
          - lint: true
    env:
      MIX_ENV: test
      DB: ${{matrix.db}}
      MYSQL_UNIX_PORT: /var/run/mysqld/mysqld.sock
    steps:
      - run: sudo mkdir -p /var/run/mysqld
      - run: sudo chmod 777 /var/run/mysqld
      - run: docker run -p 3306:3306 --volume /var/run/mysqld:/var/run/mysqld -e MYSQL_ALLOW_EMPTY_PASSWORD=1 --detach ${{matrix.db}} --innodb_log_file_size=1G
      - run: until mysql --port 3306 --protocol=tcp -u root -e "SELECT @@version;"; do sleep 3; done
      - uses: actions/checkout@v2

      - uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.pair.erlang}}
          elixir-version: ${{matrix.pair.elixir}}

      - name: Install Dependencies
        run: |
          mix deps.get --only test
          mix deps.compile

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.get && mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test
